@charset "UTF-8";

body {
    color: #3C3C3C;
    font-size: 0.75rem;
    font-weight: 200;
    font-family: PingFangSC-Regular;
}

.good-img {
    height: 8.75rem;
}

.font-good-name {
    font-size: 0.75rem;
    color: #3C3C3C;
}

.weui-search-bar:after {
    border-bottom: none;
}

.ic-minus , .ic-plus ,.ic-input{
    border:none;
    height: 1.3rem;
    padding: 0;
    margin: 0 3px;
    -webkit-box-shadow: none;
    box-shadow: none
}

.ic-minus {
    background-image: url("../images/ic_minus.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.ic-plus {
    background-image: url("../images/ic_plus.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.ic-minus , .ic-plus {
    width: 1.3rem;
    border-radius: 0.65rem;
}

.ic-input-group {
    border: solid 1px;
    border-color: #D9D9D9;
    border-radius: 0.83rem;
    width:4.575rem;
    height:1.67rem;
    float:right;
    vertical-align: middle;
}

.addvisible {
    display: block;
}

.addinvisible {
    display: none;
}

.goods_list:last-child {
    border-bottom: solid 1px #EFEFEF;
}

.text-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.avatar-notice {
    color:#E8C2B5;
    font-size: 0.8rem;
    line-height: 1.375rem
}

.btntoshop {
    margin: 1.55rem auto;
    display: block;
    text-align: center;
    line-height: 2.5rem;
    width: 12.5rem;
    border-radius: 0.525rem;
    background-color: #FFAE01;
    color: white;
    border: none;
}

.font-30 {
    font-size: 0.75rem;
}

.font-28 {
    font-size: 0.7rem;
}

.font-26 {
    font-size: 0.65rem;
}

.font-22 {
    font-size: 0.55rem;
}
.font-20 {
    font-size: 0.5rem;
}

.color-3c {
    color: #3C3C3C;
}

.color-93 {
    color: #939393;
}

.color-7f {
    color: #7F7F7F;
}

.color-FFAE01 {
    color: #FFAE01;
}

.color-white {
    color: white;
}

.font-41 {
    color:#414141;
}

/*.dropdown-reset {*/
/*padding: 0;*/
/*}*/

.dropdown-reset li {
    /*padding: 5px 15px;*/
    text-align: center;
    background: lightgrey;
    line-height:1.65rem;
}

.dropdown-reset li.able-click{
    background: white;
}

.dropdown-reset li.divider {
    padding: 0;
    margin: 0;
}

label{
    font-weight: 100;
}

.display_flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
}

.display_flex_item {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
}

.display_flex_item_nav {
    -webkit-box-flex: 7.2;
    -moz-box-flex: 7.2;
    -webkit-flex: 7.2;
    -ms-flex: 7.2;
    flex: 7.2;
    display: block;
}