@charset "UTF-8";

body {
    color: #3C3C3C;
    font-size: 0.75rem;
    font-family: "PingFang SC";
}

.good-img {
    height: 6.325rem;
}

.font-good-name {
    font-size: 0.75rem;
    color: #3C3C3C;
}

.weui-search-bar:after {
    border-bottom: none;
}